.extend-click {
  @apply relative before:(absolute -inset-[10px]);
}

.uno-top {
  @apply flex justify-between py-[5px] px-[10px] bg-[#d44439] 
  [&>span]:(leading-[40px] text-[#f1f1f1] text-[20px]);
}

.uno-tab {
  @apply h-[44px] flex justify-around bg-[#d44439] 
  [&>a]:(flex-1 py-[2px] text-[14px] text-[#e4e4e4]);
}

.uno-selected {
  @apply [&>span]:(py-[3px] font-bold border-solid
  text-[#f1f1f1] border-bottom-2 border-[#f1f1f1]);
}

.uno-tab-item {
  @apply h-full flex justify-center items-center;
}

.slider-wrapper {
  @apply relative box-border w-full h-full m-[auto] bg-white;
  .before {
    @apply absolute top--300px h-400px w-full bg-[#d44439];
  }
}

.slider-container {
  @apply relative w-[98%] h-40 overflow-hidden m-[auto]
  rounded-1.5;
}

.slider-nav {
  @apply absolute block w-full h-full;
}

.swiper-pagination-bullet-active {
  background: #d44439;
}

.list-wrapper {
  @apply max-w-full;
  .title {
    @apply font-bold leading-[60px] pl-1.5 text-[14px];
  }
  .decorate {
    background: linear-gradient(hsla(0, 0%, 43%, .4), hsla(0, 0%, 100%, 0));
    @apply absolute top-0 w-full h-[35px] rounded-[3px];
    // z-index: 11;
  }
  .play-count {
    @apply absolute right-[2px] top-[2px] 
    text-([12px] #f1f1f1) leading-[15px];
    z-index: 99
  }
  .desc {
    @apply overflow-hidden mt-.5 py-0 px-.5 h-[50px] 
    text-([12px] left #2E3030) leading-[1.4];
  }
}

.loading-wrapper {
  >div {
    @apply fixed left-0 right-0 top-0 bottom-0 w-60px h-60px
    opacity-60 rounded-50% bg-#d44439;
    z-index: 1000;
    margin: auto;
    animation: loading 1.4s infinite ease-in;
  }
  >div:nth-child(2) {
    animation-delay: -0.7s;
  }
}

@keyframes loading {
  0%, 100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}

.nav-container {
  @apply fixed box-border top-95px w-full p-5px overflow-hidden;
}

@keyframes dance {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    transform-origin: center 100%;
  }
  20% {
    transform: scaleY(1);
  }
}

.loading-v2 {
  @apply h-10px w-full m-auto;
  text-align: center;
  font-size: 10px;
  &>div {
    @apply inline-block h-full w-1px mr-2px bg-[#d44439];
    animation: dance 1s infinite;
  }
  &>div:nth-child(2) {
    animation-delay: -0.4s;
  }
  &>div:nth-child(3) {
    animation-delay: -0.6s;
  }
  &>div:nth-child(4) {
    animation-delay: -0.5s;
  }
  &>div:nth-child(5) {
    animation-delay: -0.2s;
  }
}